---
import { Icon } from 'astro-icon';
---
<div class="bg-blue-950">
  <div class="container bg-blue-950 mx-auto">
    <div class="grid grid-cols-1 text-center text-teal-50 text-lg">
      <div class="m-4 font-figtree font-bold">
        <h1>Let's reach out.🤝</h1>
      </div>
      <div class="">
        <Icon class="m-5" name="logomarks" width="40" />
      </div>
      <small class="">
          Copyright &copy; <span id="copyright"></span> | All rights reserved
      </small>
    </div>
  </div>
</div>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>

  